body {
    background-image: url(../Imagens/robos.png);
    background-size: 20%;
}

main {
    background-color: rgba(136, 135, 135, 0.9);
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.logo,
.manchete,
.headline {
    margin: 0;
    text-align: center;
}

.video {
    margin: 0;
    text-align: center;
}